hw3/ex3_206962912.zip
hw3/ex3_tester
hw3/ex3_tester.c
hw3/github.txt
hw3/message_slot.ko
hw3/message_slot.mod
hw3/message_slot.mod.c
hw3/message_slot.mod.o
hw3/message_slot.o
hw3/vmodules.order
hw3/Module.symvers
hw3/reader
hw3/rec06_kernel_2
hw3/sender
hw3/sidSol
hw3/tester
hw3/tester2.c
hw3/tester.c
hw4/resorces
hw3/message_reader
hw3/modules.order
hw4/test
hw5/resorces
hw5/resorces/rec10
hw5/resorces/yealsul